#Header{
    background-color: #FFFFFF;
    height: 90px;
    padding-top: 4px;
}

.container-custom{
    padding:0px 12px;
}

.logo{
    margin: 0 70px 0 44.30px;
    display: inline-block;
}
.logo_img{
    display: inline-block;
    vertical-align: top;
}

#logo{
    font-weight: 900;
    font-family: 'Overpass', sans-serif;
    color: #251117;
    font-size: 70px;
    letter-spacing: 0px;
}

.menu{
    display:inline-block;
    vertical-align: top;
}

.menu ul{
    padding-left: 2rem;
    list-style: none outside;
}

.menu ul li{
    margin: 0;
    z-index: 203;
    display: block;
    position: relative;
}

.menu ul li a{
    color: #172636;
    padding: 30px 0 30px 0;
    display: block;
    font-size:16px;
    font-family: "DM Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.menu ul li a span{
    padding:0 20px;
}

.menu ul li a:hover:after {
    opacity: 1;
  }

.menu ul li a:after{
    content: "";
    top: auto;
    bottom: -4px;
    opacity: 0;
    background: #172636;
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 203;

}