.card{
    border-radius: 25px;
    -webkit-box-shadow: 1px 1px 10px 1px #E9E9E9;
    box-shadow: 1px 1px 10px 1px #E9E9E9;
    margin:20px 10px;
    padding:35px !important;
}

.card p{
    margin-bottom:12px;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}

.card > a{
    text-decoration: underline !important;
}

.card .icon{
    width:50px;
}

a{
    text-decoration: none !important;
}

.con_title{
    padding-top: 12px;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    color: #333;
}

.con_title:after {
    display: block;
    width: 40px;
    height: 4px;
    margin-top: 12px;
    content: "";
    background: #fdcf33;
    border-radius: 4px;
}

.phone{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    color: #173559;
}

.contact-div{
    align-items: center;
    justify-content: center;
    align-self: center;
}

.contact-div p{
    margin:0px;
}

.the_content_wrapper ul.custom_ul{
    margin:0px;
    color:#FFFF;
}

.elementor-8 .elementor-element.elementor-element-6199bec:not(.elementor-motion-effects-element-type-background), .elementor-8 .elementor-element.elementor-element-6199bec > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #141e2c;
}

#Top_bar .menu > li.current-menu-item > a, #Top_bar .menu > li.current_page_item > a, #Top_bar .menu > li.current-menu-parent > a, #Top_bar .menu > li.current-page-parent > a, #Top_bar .menu > li.current-menu-ancestor > a, #Top_bar .menu > li.current-page-ancestor > a, #Top_bar .menu > li.current_page_ancestor > a, #Top_bar .menu > li.hover > a {
    color: #172636;
}

#Top_bar .menu > li.current-menu-item > a, #Top_bar .menu > li.current_page_item > a, #Top_bar .menu > li.current-menu-parent > a, #Top_bar .menu > li.current-page-parent > a, #Top_bar .menu > li.current-menu-ancestor > a, #Top_bar .menu > li.current-page-ancestor > a, #Top_bar .menu > li.current_page_ancestor > a, #Top_bar .menu > li.hover > a {
    color: #172636;
}

*::selection {
    background-color: #172636;
}

#Top_bar .menu > li a:after {
    background: #172636;
}

ul#menu-main-menu  {
    margin-bottom: 0 !important;
}

.elementor-8 .elementor-element.elementor-element-31885a7 .elementor-button {
    background-color: #172636;
}

.elementor-8 .elementor-element.elementor-element-054076c > .elementor-widget-container,.elementor-8 .elementor-element.elementor-element-244f93b > .elementor-widget-container ,.elementor-8 .elementor-element.elementor-element-50dbcdb > .elementor-widget-container,.elementor-8 .elementor-element.elementor-element-f9c3831 > .elementor-widget-container,.elementor-8 .elementor-element.elementor-element-5dfcdfb > .elementor-widget-container {
    border-color: #172636;
}

.ml-10{
    margin-left:10px;
}

.join_container{
    padding-top:60px;
}

.logo_img{
    display: inline-block;
    vertical-align: top;
    padding: 5px 0;
}

#Top_bar #logo{
    display: inline-block;
}

#Top_bar.is-sticky .logo_img img{
    height:60px;
}

#Top_bar.is-sticky .logo_img{
    padding:0px;
}

/* admin panel use */
.p-8{
    padding:8px;
}

.filter-btn{
    padding-bottom:8px;
}

.box-body{
    min-height: 40px;
}

.p-10{
    padding:10px;
}

.inline-custom{
    display:inline-block;
}

.iradio_minimal-blue.custom-iradio{
    vertical-align: unset;
}

.sub-form{
    font-size: 20px;
    padding:0 10px;
    margin:0px;
}

.main-footer{
    display:none;
}

@media only screen and (min-width: 1240px){
    .menuo-right #Top_bar .menu_wrapper {
        float: none;
    }

    .menu-second{
        float:right;
    }
}

#Top_bar .logo {
    float: left;
    margin: 0 70px 0 30px;
}

.text-logo #logo {
    font-family: 'Overpass', sans-serif;
}

#Top_bar .text-logo #logo {
    font-weight: 900;
}


#Top_bar #logo{
    line-height: 74px;
}

@media only screen and (min-width: 768px){
    #Top_bar.is-sticky #logo, #Top_bar.is-sticky .custom-logo-link {
        line-height: 60px!important;
    }
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default {
    color: black !important;
    border-color: black;
}

.skin-blue-light .treeview-menu>li>a {
    color: #40627e !important;
}

.skin-blue-light .sidebar-menu>li>.treeview-menu {
    background: #e4e4e5 !important;
}

.multi-platform{
    overflow: hidden;
    height: 600px;
    background-color: #232E3D;

    color: white;
}

@media only screen and (min-width: 768px){
    .multi-platform{
        background: url(/images/app_background.png) no-repeat top center;
        background-size: cover;
    }
}

.elementor-8 .elementor-element.elementor-element-2b1ae361 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    
}

.multi-platform .left h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    color:white;
}

.multi-platform .left p {
    font-size: 18px;
}

.multi-platform .left {
    background: #393947;
    padding: 31px 40px 40px;
    border: 1px solid #9494AC;
    border-radius: 19px;
    margin-top: 80px;
    width: 400px;
}

.multi-platform .left .qr-code-box {
    border-radius: 10px;
    padding: 20px;
    padding-top: 0;
    margin-top: 20px;
}

.multi-platform .left .qr-code-box .label {
    font-size: 20px;
    padding: 10px 0;
}

.multi-platform .left .qr-code-box .scan-icon {
    width: 28px;
    height: 28px;
}

.header_placeholder_1{
    padding:10px;
    background-color: #222E3D;
    color:#FFFF;
}

.elementor-8 .elementor-element.elementor-element-video-container:not(.elementor-motion-effects-element-type-background){
    background-color: #3b3c44;
}

.elementor-element-video-container{
    padding: 40px 0px;
}

.header_placeholder_1 span{
    color:#319D82;
}

.buy_now{
    margin-left:40px;
    color:#FFF;
    padding:5px 10px;
    background-color: #319D82;
    border-radius: 4px;
}

.buy_now:hover{
    color:#FFF;
}












