body {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #626262;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #ffffff;
}

.layout-full-width .wrapper {
    max-width: 100%!important;
    width: 100%!important;
    margin: 0!important;
}

header{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.top_bar {
    position: static;
    background-color: #fff;
    left: 0;
    top: 61px;
    width: 100%;
    border-bottom: 1px solid transparent;
    z-index: 30;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    position: relative;
}

.top_bar .top_bar_left {
    position: relative;
    float: left;
    width: 100%;
}

.clearfix:before, .clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.top_bar .logo {
    float: left;
    margin: 0 30px 0 20px;
}

.logo {
    font-weight: 300;
    height: 60px;
    line-height: 60px;
    padding: 15px 0;
    color: #251117;
    font-size: 70px;
    font-family: 'DM Sans', sans-serif;
}

a, a:visited, a:focus {
    text-decoration: none;
    outline: 0;
}

.top_bar .menu_wrapper {
    float: left;
    z-index: 201;
}

.top_bar #menu {
    z-index: 201;
}

ul {
    list-style: none outside;
}

.top_bar .menu > li {
    margin: 0;
    z-index: 203;
    display: block;
    float: left;
}

@media only screen and (min-width: 1240px){
    #wrapper{
        max-width: 1080px;
    }

    .top_bar .menu_wrapper {
        float: right;
    }

    .top_bar #menu {
        display: block!important;
    }
}

